@font-face {
    font-family: 'Avenir';
    src: url('./fonts/Avenir/AvenirLTStd-Book.otf');
}

body {
    background: #000000;
}
h2 {
    margin-bottom: 23px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    color: #FFFFFF;
}
.suptitle {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.header::before {
    content: '';
    position: absolute;
    top: -107px;
    right: 151px;
    width: 663px;
    height: 783px;
    background: rgba(250, 0, 255, 0.2);
    filter: blur(250px);
    transform: rotate(-105.26deg);
}
.header__inner {
    display: flex;
    margin-top: 23px;
    padding-left: 85px;
}
.header__logo {
    display: flex;
    align-items: center;
    margin-right: 108px;
}
.header__login {
    display: flex;
    align-items: center;
}
.header__login img{
    margin-right: 14px;
}
.header__login a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: 1px solid #000000;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
}


.main__inner {
    position: relative;
    padding-left: 100px;
    padding-right: 163px;
}
.main__content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.main__content_text {
    margin-top: 143px;
}
.main__content_text h1 {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}
.main__content_text-suptitle {
    position: relative;
    margin-top: 129px;
    display: flex;
}
.main__content_text-suptitle span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.main__content_text-suptitle div {
    width: 139px;
    height: 0px;
    border: 4px solid #FFFFFF;
    transform: rotate(120.61deg);
}
.main__content_text-suptitle::before {
    content: '';
    position: absolute;
    top: -74px;
    left: 30px;
    width: 125px;
    height: 125px;
    background: rgba(96, 92, 234, 0.5);
    filter: blur(100px);
}
.main__content img {
    position: relative;
}
.main__wrapper {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
}
.main__wrapper span {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 70px;
    color: #FFFFFF;
}
.main__wrapper_icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cookies {
    position: fixed;
    bottom: -93px;
    width: 100%;
    height: 93px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #212834;
    transition: all 2s ease-out;
}
.cookies span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.cookies_visible {
    bottom: 0px;
}

.coockies__button {
    width: 132px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
}
.coockies__button span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.two {
    position: relative;
    margin-top: 169px;
}
.two img {
    position: absolute;
    top: 340px;
}
.two__inner {
    padding-left: 176px;
    padding-right: 177px;
}
.two__connect {
    display: flex;
    justify-content: space-between;
}
.two__connect_item {
    width: 503px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 73px 62px 55px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21px;
}
.two__connect_item span {
    margin-bottom: 30px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}
.two__connect_item a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.two__mobile {
    display: flex;
    justify-content: end;
    margin-top: 236px;
}
.two__mobile_text {
    position: relative;
}
.two__mobile_text h2 {
    position: relative;
}
.two__mobile_text span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.two__mobile_text::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 197px;
    width: 85px;
    height: 85px;
    background: #F101BF;
    opacity: 0.7;
    filter: blur(100px);
}



.three {
    margin-top: 469px;
    margin-bottom: 368px;
    position: relative;
}
.three::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
}
.three__background{
    width: 100%;
    height: 836px;
    object-fit: cover;
}
.three__inner {
    position: relative;
    padding-left: 100px;
    padding-right: 107px;
}
.three__phone {
    position: absolute;
    bottom: -74px;
}
.three__phone img:nth-child(1) {
    margin-right: 50px;
}
.three__content {
    position: relative;
    display: flex;
    justify-content: end;
}
.three__content div {
    position: relative;
    bottom: 10px;
}


.four {
    margin-bottom: 400px;
    position: relative;
}
.four::before {
    content: '';
    width: 426px;
    height: 438px;
    position: absolute;
    top: -190px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.1;
    filter: blur(250px);
    transform: rotate(5.78deg);
}
.four__inner {
    padding-left: 100px;
    padding-right: 200px;
    display: flex;
    position: relative;
}
.four__content {
    white-space: nowrap;
}
.four__icons {
    width: 100%;
}
.four__icons img:nth-child(1) {
    position: absolute;
    top: -90px;
    right: 53px;
}
.four__icons img:nth-child(2) {
    position: absolute;
    top: 90px;
    right: 252px;
}
.four__icons img:nth-child(3) {
    position: absolute;
    top: 90px;
    right: 0;
}
.four__icons img:nth-child(4) {
    position: absolute;
    top: 150px;
    right: 425px;
}
.four__icons img:nth-child(5) {
    position: absolute;
    top: 295px;
    right: 242px;
}
.four__icons img:nth-child(6) {
    position: absolute;
    top: 195px;
    right: 169px;
}
.four__icons img:nth-child(7) {
    position: absolute;
    top: 370px;
    right: -85px;
}


.five {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 588px;
}
.five::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 682px;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
}
.five__background-img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.five__background-img:nth-child(1) {
    height: 606px;
}
.five__background-img:nth-child(2) {
    height: 617px;
    position: relative;
}
.five__inner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-left: 181px;
    padding-right: 56px;
}
.five__logo {
    position: absolute;
    top: -87px;
    right: 95px;
}
.five__content {
    position: relative;
    top: 537px;
}
.five__content_icons {
    margin-top: 58px;
}
.five__content_icons img:nth-child(1) {
    margin-right: 28px;
}
.five__phone {
    white-space: nowrap;
}
.five__phone img:nth-child(1) {
    position: relative;
    top: 220px;
    margin-right: 80px;
}
.five__phone img:nth-child(2) {
    position: relative;
    top: 561px;
}



.six {
    position: relative;
    margin-bottom: 192px;
}
.six__background_text{
    position: absolute;
}
.six__background_text:nth-child(1) {
    left: 0;
    top: 260px;
}
.six__background_text:nth-child(2) {
    right: 0;
    top: 260px;
}
.six__background_text:nth-child(3) {
    left: 0;
    top: 590px;
}
.six__background_text:nth-child(4) {
    right: 0;
    top: 540px;
}
.six__content::before {
    position: absolute;
    content: '';
    width: 1022px;
    height: 952px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.15;
    filter: blur(311.569px);
    border-radius: 476.034px;
    transform: rotate(-0.55deg);
}
.six__content {
    position: relative;
    display: flex;
    justify-content: center;
}
.six__content_img{
    position: relative;
    margin-top: 147px;
    margin-bottom: 80px;
}
.six__content_arrow {
    position: absolute;
    right: 260px;
    top: 431px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}
.six__content_arrow img {
    position: relative;
    bottom: 35px;
    left: 10px;
}
.six__text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}


.seven {
    position: relative;
}
.seven::before {
    position: absolute;
    content: '';
    width: 287px;
    height: 267px;
    right: -108px;
    top: 175px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.2;
    filter: blur(250px);
    transform: rotate(5.78deg);
}
.seven__inner {
    padding-left: 160px;
    padding-right: 160px;
}
.seven__content {
    display: flex;
    justify-content: flex-end;
}
.seven__img {
    position: relative;
    display: flex;
    justify-content: center;
}
.seven__img_background {
    position: relative;
    display: inline-block;
}
.seven__img_background span {
    position: absolute;
    background: #000000;
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;

}
#seven__img_span1 {
    top: 204px;
    right: 126px;
    padding: 23px 23px 22px 22px;
}
#seven__img_span2 {
    width: 285px;
    top: 359px;
    left: -24px;
    padding: 30px 26px 29px 26px;
}
#seven__img_span3 {
    top: 639px;
    right: -12px;
    padding: 19px 24px 18px 23px;
}
#seven__img_span4 {
    top: 730px;
    left: 198px;
    padding: 19px 25px 20px 25px;
}


.promo {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #000000 6.8%, rgba(0, 0, 0, 0) 51.62%, #000000 97.38%);
}
.promo__background {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.promo__background-item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 210px;
    line-height: 210px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #8B8B8B;
}
.promo__inner {
    position: absolute;
    z-index: 1;
}
.promo__phone {
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo__phone img:nth-child(2) {
    position: absolute;
}



.sendForm {
    position: relative;
}
.sendForm__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sendForm__inner::before {
    content: '';
    position: absolute;
    top: 731px;
    right: -120px;
    width: 337px;
    height: 341px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(250px);
    transform: rotate(5.78deg);
}
.sendForm::before {
    content: '';
    width: 247px;
    height: 250px;
    position: absolute;
    left: 332px;
    top: -76px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(250px);
    transform: rotate(5.78deg);
}
.sendForm__form {
    margin-top: 82px;
}
.sendForm__form_wrapper{
    width: 818px;
    display: grid;
    row-gap: 23px;
}
.sendForm__form_wrapper div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}
.sendForm__form_wrapper input {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 29px 23px;
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    border-radius: 10px;
    outline: none;
}
.sendForm__form_wrapper textarea {
    height: 199px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 0  23px;
    padding-top: 29px;
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    border-radius: 10px;
    outline: none;
}
.sendForm textarea::-webkit-input-placeholder {
    color: #BFBFBF;
}
.sendForm input::-webkit-input-placeholder {
    color: #BFBFBF;
}
.sendForm button {
    margin-top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding: 25px 167px 26px 167px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}



.footer {
    position: relative;
    padding: 0 100px 0 100px;
    margin-top: 91px;
}
.footer::before {
    content: '';
    position: absolute;
    bottom: -140px;
    left: -59px;
    width: 406px;
    height: 412px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(150px);
    transform: rotate(5.78deg);
}
.footer__download {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__download span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer__download_icons {
    margin-top: 33px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer__info_contact {
    position: relative;
    display: flex;
    flex-direction: column;
}
.footer__info_contact-icon {
    display: flex;
}
.footer__info_contact span:nth-child(2) {
    margin-top: 16px;
    margin-bottom: 19px;
    font-weight: 500;
}
.footer__terms {
    display: grid;
    row-gap: 25px;
}